@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto&display=swap');
@import url('lvw.css');

*, *::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --bg-main-color:#295F98;
    --btn-primary-bg:#2980B9;
    --btn-txt:#FFF;
    --btn-secondary-bg:#E74C3C;
}

#app{
    background-color: var(--bg-main-color);
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    display: flex;
    height: 100vh;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #af4c5e;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

header h1 {
    margin-left: 10px;
    font-size: 24px;
    line-height: 1rem;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
}

aside {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 15px;
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    transition: transform 0.3s ease;
}

main {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    background-color: #f4f4f4;
    overflow-y: auto;
    margin-top: 40px;
}

aside nav ul li {
    margin: 15px 0;
}

ul{
  list-style: none;
}

 ul li a {
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
 }

  ul li a i {
    margin-right: 10px;
 }

 button{
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
}

button.submit {
    background-color: #007bff;
}

button.cancel {
    background-color: #6c757d;
}

.user-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 10px;
}


@media screen and (max-width: 800px) {
    aside {
        transform: translateX(-100%);
        width: 95%;
        height: 100%;
        z-index: 200;
        position: fixed;
        top: 0;
        left: 0;
        transition: transform 0.3s ease;
    }

    .menu-toggle {
        display: block;
    }

    main {
        margin-left: 0;
        width: 100%;
    }

    .show {
        transform: translateX(0);
    }

}

@media screen and (min-width: 801px) {
    aside {
        transform: translateX(0); /* Siempre visible en pantallas grandes */
    }

    .menu-toggle {
        display: none;
    }

    main {
        margin-left: 250px;
        width: calc(100% - 250px);
    }
}
